@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poetsen One", sans-serif; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('./Components/Assets/istockphoto-1494104649-2048x2048.jpg');
  background-size: cover;
  background-position: center;
}
